# SinPo.id Next.js Frontend Environment Variables

# SinPo Live REST API Base URL
NEXT_PUBLIC_API_URL=https://api.sinpo.id/api

# SinPo Live REST API Bearer Token
NEXT_PUBLIC_API_TOKEN=LMyrBrMUP8zpYV5d

# SinPo Storage Base URL (for media & images)
NEXT_PUBLIC_STORAGE_URL=https://sinpo.id/storage

# Application Host URL
APP_URL=http://localhost:3000
